@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}

body {
    background-image: linear-gradient(to right, #E3C75F, #BDA523);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px, #52480f78;
    width: 600px;
    padding: 10px;
    margin: auto
}

hr {
    width: 100;
}

h1 {
    color: #16232E;
    text-align: center;
    text-shadow: 1px 1px 0px, #0a101589;
}

h2 {
    color: #164C45
}

p {
    text-align: justify;
}   