@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

nav {
    margin-top: 0.5%;
}
nav p {
    display: inline;
    margin-right: 77%;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

nav a {
    padding: 8px;
    font-size: 1.1em;
    color: black;
}

header {
    margin-top: 4%;
    text-align: center;
}

header h1 {
    font-family: cursive;
}

header p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: #0000005a;
    padding-bottom: 4%;
}

header hr {
    color: black;
    background-color: black;
    border-width: 2px;
}

main {
    columns: 3;
    width: 100%;
    height: 100%;
}

main #Project {
    display: block;
    background-color: aliceblue;
    margin: auto;
}
main #Project a {
    display: block;
    padding: 20px;
}


footer {
    text-align: center;
    padding-top: 100px;
}