@charset "UTF-8";

body {
    background-image: linear-gradient(to left, #6d98ec, #283f6e);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #fff53e;
}

#principal {
    color: aliceblue;
    background-image: linear-gradient(to left, #eee87193, #908b25a5);
    text-align: center;

}

h2 {
    color: #ded636;
}

.básico {
    color: #03cd68;
}

.intermediário {
    color:rgb(239, 252, 90)
}

.Avançado {
    color: rgb(241, 40, 40)
}

.destaque {
    background-color: rgb(171, 154, 0);
}
p {
    color: rgba(240, 248, 255, 0.817);
    text-align: justify;
}

