body {
    background-color:rgb(191, 191, 191);
}
h1 {
    color:rgb(36, 36, 36)
}
h2 {
    color:rgb(36, 36, 36)
}        
p {
    color:rgb(36, 36, 36)
}
li {
    color:rgb(36, 36, 36)
    
}
.linguagem-texto{
    color: rgb(0, 151, 193);
}